/* Start Variables */
:root {
 
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* start top nav */
.top_nav {
  background: #333333;
}
.top_nav .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  height: 47px;
}
.top_nav .left_nav {
  font-size: 13px;
  color: white;
}
.top_nav .left_nav p {
  display: inline;
  padding-right: 6px;
  color: #f2f2f2;
}
.top_nav .right_nav .text_right_nav {
  display: flex;
}
.top_nav .right_nav .text2_right_nav {
  display: flex;
}
.top_nav .right_nav ul li{
  padding-right: 15px;
  font-size: 14px;
  color: #f2f2f2;
}
.top_nav .right_nav ul a:hover {
  color: #3cc7c6;
}
@media (max-width: 767px) {
  .top_nav {
    display: none;
  }
}
/* end top nav */
/*start logo */
.simple .container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 38px;
}
.simple ul {
  display: flex;
  position: absolute;
  right: 0;
}
.simple ul li a {
  color: black;
  padding-right: 25px;
}
.simple ul li:not(.not_1):after {
  content: "";
  border-right: #e4e4e6 2px solid;
  margin-right: 21px;
}
@media (max-width: 767px) {
  .simple ul li a {
    padding-right: 12px;
  }
  .simple ul li:not(.not_1):after {
    margin-right: 6px;
  }
}
/* end logo */
/* start menu */
.menu .container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  border-top: 2px #e4e4e6 solid;
  border-bottom: 2px #e4e4e6 solid;
}
.menu .container ul {
  display: flex;
}
.menu .container ul li {
  margin: 15px;
}
.menu .container ul li:hover {
  color: #3cc7c6;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
/* end menu */
/*start master photo */
.master_photo .container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .master_photo {
    display: none;
  }
}
/*end master photo */
/* start ad */
.ad .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 80px;
}
.ad .box {
  position: relative;
}
.ad .box .image img {
  max-width: 100%;
}
.ad .box .text_box {
  position: absolute;
  top: 31%;
  left: 7%;
}
.ad .box .text_box ul li:first-of-type {
  color: #999999;
  padding-bottom: 10px;
}
.ad .box .text_box ul li:last-of-type {
  padding-top: 47px;
  color: #3cc7c6;
}
/* end ad */
/* start featured_products */
.featured_products .title_products {
  margin: 110PX 0 0 0;
  text-align: center;
}
.featured_products .title_products p {
  line-height: 2;
  color: #929292;
}
.featured_products .title_products h1 {
  color: #333333;
}
.featured_products .products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px;
  margin-top: 100px;
}
.featured_products .products_container .box img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px rgb(228 222 222);
}
.featured_products .products_container .box .edit_box img {
  max-width: 100%;
  width: 100%;
  box-shadow: 5px 5px rgb(228 222 222);
}
.featured_products .products_container .box p {
  text-align: center;
  margin: 8px 0 0 0;
  font-size: 14px;
}
.featured_products .products_container .box p:last-child {
  font-size: 11px;
  color: #999999;
}
/* end featured_products */
/*start box_edit*/
.img-top{
  transition: 0.5 ease;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(228, 222, 222) ;
}
.overlay{
  opacity: 0;
  transform: translate(-50%,-50%);
}
.box .image:hover .img-top{
  opacity: 0.2;
}
.box .image:hover .overlay{
  opacity: 1;
}
.btn{
  width: 133px;
  height: 35px;
  font-size: 21px;
  cursor: pointer;
  background-color: aqua;
  border: 0.2px solid aqua; 
  outline: none;
  position: absolute;
  left: 249px;
  top: -168px;
  color: white;
}
.btn:hover {
  color: aqua;
  background-color: white;
}
@media (max-width: 1199px) {
 .btn {
  left: 357px;
  top: -236px;
 }
}
@media (max-width: 991px) {
  .btn {
  left: 255px;
  top: -178px;
  }
 }
 @media (max-width: 726px) {
  .btn {
  left: 291px;
  top: -198px;
  }
 }
/* end featured_products */
/* start footer */
.footer {
  background-color: #fbfbfb;
  margin-top: 80px;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 85px 0;
}
.footer .box ul {
  text-align: center;
}
.footer .box ul li {
  padding-top: 25px;
}
.footer .box ul li i{
  padding-top: 25px;
  font-size: 50px;
  color: #3cc7c6;
}
/* end footer */
/* start up to */
.up_to {
  background-color: #3cc7c6;
  margin-top: 50px;
}
.up_to .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.up_to p {
  color: white;
}
.up_to button {
  height: 43px;
  width: 135px;
  color: white;
  background-color: #3cc7c6;
  border: 1px white solid;
}
.up_to button:hover {
  cursor: pointer;
  color: #3cc7c6;
  background-color: white;
}
/* end up to */
@media (max-width: 767px) {
 .up_to p{
  font-size: 13px;
 }
 .up_to button {
  width: 114px;
  height: 35px;
 }
}